.inline-block{
    
    vertical-align: top;
    width:100%;
    /*padding: 1%;*/
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    color: rgba(80, 85, 92, 1);
    /*margin-top: 0%;*/
    /*height: 100px;*/
}
.navLink{
    padding: 10%;
    height: 10px;
    max-width: 10px;
    font-size: 24px;
}
.logo{
    padding: 5%;
    height: 30%;
    max-width: 30%;
    text-align: left;
    color:rgba(172, 125, 3, 1);
    display: block;
    /*margin: 0%;*/
}
body{
   font-family:'Della Respira', serif;;
    background-color: rgba(202, 224, 245, 0.946);
}
h1{
    display: block;
    text-align: center;
    color: rgba(172, 125, 3, 1);
    font-size: 32px;
    margin:0%;
}
.introparagraph{
    color: rgba(80, 85, 92, 1);
    text-align: center;
    font-size: 24px;
    margin-top: 0%;
   }
.heroImg{
    margin-bottom: 80px;
    height: 600px;
}
nav { 
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: left;
}
.inline-block ul{
    width :100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 3%;
    list-style: none;
}

.headshot{
    width: 20%;
    height: 20%;
    margin: auto;
    display: block;
    border: 5px solid rgba(172, 125, 3, 1);
    margin-bottom: 50px;
}
.content{
    height: auto;
}
.footer{
   bottom: 0;
   position: static;
   width: 90%;
   display: inline-block;
}
.footerLink{
    padding: 20px;
    color: rgba(80, 85, 92, 1);
}
.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
} 
h2{
    display: flex;
    flex-direction: row;
    color:rgba(172, 125, 3, 1) ;
    font-size: 32px;
    margin-top: 100px;
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 10px;
    margin-right: 10px;
    border-style: inset;
    border-width: 1px;
    align-self:flex-end
}
.gov {
    width: 25%;
    padding: 10px;
}
.row{
display: flex;
grid-column-start: 1;
padding:20px;
}
.study{
    width: 100%;
    height:auto;
}
.description{
    width: 40%;
    padding: 20px;
    height: 200px;
    grid-column-start: 2;
    float: right;
    
  }
.workGrid{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas:
      'row description'
      'description1 row1'
      'row description' ;
      grid-gap: 15px;
}
h4{
    font-size: 24px;
   
}

p{
   text-align: left;
   color: rgba(80, 85, 92, 1);
   padding: 1%;
   font-size: 24px;
}
.description1{
    grid-column-start: 1;
    float: left;
    padding: 20px;
    height: 200px;
    width: 80%;
}
.row1{
   grid-column-start: 2;
   grid-row-start: 2;
   display:flex;
   float: right;
    padding: 20px;
}
ul{
    width :100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3%;
    list-style: none;
    color: rgba(80, 85, 92, 1) ;}

   

button {
 background-color: rgba(172, 125, 3, 1); 
  border:  2px solid white; 
  color: white;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 12px;
  border-radius: 4px;
  margin-top: 20px;
}
.myskills{
    
    font-size: 24px;
}
.myWork{
    font-size: 24px;
}
.footer ul{
    width :100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5%;
    list-style: none;
}
@media only screen and (max-width: 600px) {
    .workGrid{
        display: flex;
        flex-direction: column;
        /*grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        'row '
        'description'
        'row1'
        'description1'*/
    }
    
    .flexContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;}
    .nav { 
            width: 100%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            height: auto;
            justify-content: left;
            flex-wrap: wrap;
        }
    .inline-block{
        display: flex;
        flex-wrap: wrap;
      
    }
    .description{
            width: 100%;
        }
    .description1{
            width: 100%;
        }
 }
        